<div class="slider-area2 slider-area3 slider-height2 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center pt-50">
                    <h2><span style="color: #f52c2c;">| </span> Reportes Creados <img src="img/complaint.png"></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">

        {{#each reportes}}
        <div class="col-md-3">
            <br>
            <div class="card shadow p-2 mb-5 bg-white rounded" style="border: none; !important">
                <div class=" card-body">
                    <div class="text-center">
                        <h3 class="card-title text-uppercase" style="color: #FD2221">
                            {{	tipo_denuncia_reportes	}}
                        </h3>
                        <p class="m-2" style="color:#b3b3b3">{{timeago 	crated_at	}}</p>
                    </div>
                    <p class="m-2"><span style="color: #FD2221">Evento: </span>{{evento_reportes}}.</p>
                    <p class="m-2"><span style="color: #FD2221">Lugar: </span>{{ubicacion_reportes}}.</p>
                    <p class="m-2"><span style="color: #FD2221">Descripción: </span>{{descripcion_reportes}}.</p>


                    <!-- <a href="/reportes/delete/{{id}}" class="genric-btn danger-border">Eliminar</a>
                    <a href="/reportes/edit/{{id}}" class="genric-btn primary">editar</a> -->
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md4 mx-auto">
            <div class="card card-body text-center">
                <p> No haz hecho ningun reporte aún</p>
                <!-- <a href="/reportes/add-reportes" style="color: #FD2221">Hacer Reporte</a> -->
            </div>
        </div>
        {{/each}}
    </div>
</div>